{% extends '::base_admin.html.twig' %}

{% block issue_menu_li %}class="active"{% endif %}

{% block body %}
    <div id="issues-region">
            <div class="issue-table"></div>
            <div class="issue-paginator"></div>
    </div>
{% endblock %}

{% block application %}
    <script type="text/html" id="cart-view">
        <div class="col-md-5 col-sm-12">
            <div class="bigcart"></div>
            <h1>Your shopping cart</h1>
            <p>
                Adjust your order if needed
            </p>
        </div>

        <div class="col-md-7 col-sm-12 text-left">
            <ul class="items">
            </ul>
            <ul>
                <li class="row totals">
                    <span class="itemName">Total:</span>
                    <span class="price"></span>
                    <span class="order"><a class="text-center">ORDER</a></span>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/html" id="cart-item-view">
        <li class="row">
            <span class="quantity">
                <input type="number" placeholder="Number of items..." value="<%- 1 %>">
            </span>
            <span class="itemName"><%- %></span>
            <span class="price"></span>
        </li>
    </script>

    <script type="javascript" src="{{ asset('@bundles/app/js/issue_models.js') }}"></script>
    <script type="javascript" src="{{ asset('@bundles/app/js/issue_view.js') }}"></script>
    <script type="javascript" src="{{ asset('@bundles/app/js/application.js') }}"></script>
{% endblock %}
