<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Success</h3>
            </div>
            <div class="box-body">

                <div style="text-align: center">
                    <button type="button" class="btn btn-success">Go dashboard</button>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <script>
    </script>
</div>
